@using EmployeeManagementSystem.Data.Models.Enum
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeeManagementSystem.Web.ViewModels.Employee.AddEmployeeFormModel



@{
    ViewData["Title"] = "Add an Employee";
}

<link rel="stylesheet" href="~/css/add-page.css"/>

<h2 class="text-center">@ViewData["Title"]</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth" class="control-label"></label>
        <input asp-for="DateOfBirth" class="form-control" type="date" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateOfHire" class="control-label"></label>
        <input asp-for="DateOfHire" class="form-control" type="date" />
        <span asp-validation-for="DateOfHire" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Role" class="control-label"></label>
        <select asp-for="Role" class="form-control" asp-items="Html.GetEnumSelectList<Role>()"></select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3 d-flex justify-content-center">Submit</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}